</div>
<div class="footer-padding"></div>

<div class="bottom-section">

  <a id="footer" href="/contact">contact</a>
  <a href="https://www.google.com/aclk?sa=l&ai=DChcSEwj4ubOxoq3vAhUx1ZYKHRotDhsYABAAGgJ0bA&ae=2&sig=AOD64_0ck2wGjrmeA8bZYfVBIvcSkKwppw&q&adurl&ved=2ahUKEwicsayxoq3vAhWi63MBHVKgBkwQ0Qx6BAgPEAE" class="fa fa-facebook"></a>
  <a href="https://twitter.com/" class="fa fa-twitter"></a>
  <p id="copyright">© The Food Secure Team.</p>


</div>
</div>
</body>

</html>
