<%- include("partials/header") -%>

<h1>About US</h1>
<h3 class="about-justif">We are a group of likeminded students who have come together with an idea to prevent student food insecurity through a website.

<br>Food insecurity is simply the lack of resources to obtain nutritious food. The number of college students affected by food insecurity continues to grow steadily, driven by rising college costs and an increase in first-generation students with lower incomes, or those who are juggling responsibilities of work and school.

<br>Through our website we are trying to tackle food insecurity of students by collecting donations from restaurants and NGO’s. They can also provide us with free food so that we can distribute it among college students. People can also share their own experience on our website by remaining anonymous through blogs. From our side we will also provide locations of places where free food is available  for college students. For example the food lungars organized by gurudwara by the sikh community, where food is available 24/7 for anyone who wants to eat. Through our website Restaurants can also provide food vouchers and discount coupons to students. They can also serve the morning leftover food for reduced prices in the evening to students.
</h3>
