<%- include("partials/header") -%>


<h1>What is Food Insecurity?</h1>



<div class="top-section">
<div class="top-section1">
 <img id="top-image" src="Media\top-image.jpeg" alt="top-image">
</div>
 <div class="top-section2">
     <p><%= startingContent %></p>
</div>
</div>

<div class="part-B">
  <p class="part-B1"><strong> “If you feed only one person, you are everything to that person.”</strong></p>
</div>


<div class="part-C">

    <div class="C" id="C1">
      <a class="C-link" href="/donate">
        <h3 class="C-text-1">DONATIONS</h3>
        <p class="C-text-2">If you want to donate money or more than that, click here</p>
      </a>
    </div>
    <img class="image" id="image-1" src="Media\circle-cropped.png" alt="Donations-icon">
    <div class="C" id="C2">
      <a class="C-link" href="https://r.search.yahoo.com/_ylt=Awr9BNa5mSthp_0A5gNXNyoA;_ylu=Y29sbwNncTEEcG9zAzEEdnRpZANDMjAxMV8xBHNlYwNzcg--/RV=2/RE=1630276154/RO=10/RU=https%3a%2f%2fwww.healthypeople.gov%2f2020%2ftopics-objectives%2ftopic%2fsocial-determinants-health%2finterventions-resources%2ffood-insecurity/RK=2/RS=V6wxinxheQeIxcFbHshaduucido-">
        <h3 class="C-text-1">RESOURCES</h3>
        <p class="C-text-2">Resources from the government and more</p>
      </a>
    </div>
    <img class="image" id="image-2" src="Media\circle-cropped (1).png" alt="Resources-icon">

    <div class="C" id="C3">
      <a class="C-link" href="/about">
        <h3 class="C-text-1">SUPPORT</h3>
        <p class="C-text-2">Information about us and our website is here</p>
      </a>
    </div>
    <img class="image" id="image-3" src="Media\circle-cropped (2).png" alt="Support-icon">

    <div class="C" id="C4">
      <a class="C-link" href="/blogs">
        <h3 class="C-text-1">EXPERIENCE</h3>
        <p class="C-text-2">View our blogs and key stories from news outlets</p>
      </a>
    </div>
    <img class="image" id="image-4" src="Media\circle-cropped (3).png" alt="Experience-icon">

  </div>
  <div class="D">
    <div class="D1">
      <img id ="D1-img" src="Media\D1.jpeg" alt="D1-image">
    </div>
    <div class="D1">
      <img  id ="D1-img" src="Media\D2.jpeg" alt="D2-image">
    </div>
    <div class="D1">
      <img  id ="D1-img" src="Media\D3.jpeg" alt="D3-image">
    </div>
    <div class="D1">
      <img  id ="D4-img" src="Media\D4.jpeg" alt="D4-image">
    </div>
  </div>

<iframe class="youtube"  src="https://www.youtube.com/embed/j08ND3_PNgs?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<%- include("partials/footer") -%>
